* {
  margin: 0;
  padding: 0;
}

:root {
  /* Set color*/
  --brown: #423838;
  --background: #e0e0c5;

  /* Set size*/
  --text_1: 12px;
  --text_2: 16px;
  --text_3: 20px;
  --text_4: 24px;
  --text_5: 28px;
  --text_6: 32px;
  --text_7: 36px;
  --text_8: 40px;
  --text_9: 44px;
  --text_10: 48px;
}

@font-face {
  font-family: satoshi-regular;
  src: url(../fonts/satoshi/Satoshi-Regular.otf);
}

@font-face {
  font-family: satoshi-medium;
  src: url(../fonts/satoshi/Satoshi-Medium.otf);
}

@font-face {
  font-family: satoshi-bold;
  src: url(../fonts/satoshi/Satoshi-Bold.otf);
}

@font-face {
  font-family: clash-display-medium;
  src: url(../fonts/clash-display/ClashDisplay-Medium.otf);
}

body {
  background-color: var(--background);
  margin: 20px;
}

/* Usercard */
.usercard_logout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container_usercard {
  border: 2px solid var(--brown);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.usercard img {
  height: 50px;
  border-radius: 10%;
}

.usercard {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.usercard_info {
  color: var(--brown);
}

.usercard_name {
  font-family: clash-display-medium;
  font-size: var(--text_4);
}

.usercard_mail {
  font-family: satoshi-regular;
  font-size: var(--text_2);
}

.button_logout {
  display: flex;
  align-items: center;
}

.button_logout a {
  font-family: clash-display-medium;
  font-size: var(--text_1);
  color: var(--brown);
  text-decoration: none;
}

/* Pet & Task */
.container_pet_task {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* Pet */
.container_pet {
  border: 2px solid var(--brown);
  padding: 20px;
  border-radius: 10px;
  height: fit-content;
}

.pet img {
  width: 300px;
  margin: 100px;
}

.pet_name {
  font-family: clash-display-medium;
  font-size: var(--text_4);
  color: var(--brown);
}

.pet_progress {
  font-family: satoshi-regular;
  font-size: var(--text_3);
  color: var(--brown);
}

.pet_progress {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Task */
.container_task {
  border: 2px solid var(--brown);
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  width: 100%;
  height: fit-content;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.button_filter_add {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.button_filter {
  font-family: clash-display-medium;
  font-size: var(--text_1);
  color: var(--brown);
  border: 2px solid var(--brown);
  border-radius: 100px;
  width: 22px;
  height: 22px;
  background-color: var(--background);
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

.button_add {
  font-family: clash-display-medium;
  font-size: var(--text_3);
  color: var(--brown);
  border: 2px solid var(--brown);
  border-radius: 100px;
  width: 35px;
  height: 35px;
  background-color: var(--background);
  cursor: pointer;
}

.button_more {
  font-family: clash-display-medium;
  font-size: var(--text_3);
  color: var(--brown);
  border: 2px solid var(--brown);
  border-radius: 100px;
  width: 30px;
  height: 30px;
  background-color: var(--background);
  cursor: pointer;
}

.loading_text {
  font-family: satoshi-regular;
  font-size: var(--text_2);
  color: var(--brown);
}

.your_task {
  font-family: clash-display-medium;
  font-size: var(--text_4);
  color: var(--brown);
}

.taskcard {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.container_undone {
  border: 2px solid var(--brown);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.container_done {
  border: 2px solid var(--brown);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.category {
  display: flex;
  align-items: center;
}

.category img {
  width: 50px;
}

.task_title {
  font-family: clash-display-medium;
  font-size: var(--text_3);
  color: var(--brown);
}

.task_time {
  font-family: satoshi-regular;
  font-size: var(--text_1);
  color: var(--brown);
}

.task_desc {
  font-family: satoshi-regular;
  font-size: var(--text_2);
  color: var(--brown);
}

.checkbox_delete_edit {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.task_checkbox {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.container_checkbox {
  display: block;
  position: relative;
  padding-left: 15px;
  padding-bottom: 30px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 27px;
  width: 27px;
  background-color: var(--background);
  border: 2px solid var(--brown);
  border-radius: 10px;
  font-size: var(--text_2);
  color: var(--brown);
  cursor: pointer;
}

.container_checkbox:hover input ~ .checkmark {
  background-color: #bbadad;
}

.container_checkbox input:checked ~ .checkmark {
  background-color: var(--brown);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container_checkbox input:checked ~ .checkmark:after {
  display: block;
}

.container_checkbox .checkmark:after {
  left: 10.5px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid var(--background);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.button_delete {
  font-family: satoshi regular;
  font-size: var(--text_1);
  color: var(--brown);
  border: 2px solid var(--brown);
  border-radius: 10px;
  width: 30px;
  height: 30px;
  background-color: var(--background);
  cursor: pointer;
}

.button_delete:hover {
  background-color: #bbadad;
}

.button_edit {
  font-family: satoshi regular;
  font-size: var(--text_1);
  color: var(--brown);
  border: 2px solid var(--brown);
  border-radius: 10px;
  width: 30px;
  height: 30px;
  background-color: var(--background);
  cursor: pointer;
}

.button_edit:hover {
  background-color: #bbadad;
}

/* Add Task */
.overlayAdd {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--background);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlayAdd:target {
  visibility: visible;
  opacity: 1;
}

.wrapper_add_task {
  border: 2px solid var(--brown);
  padding: 20px;
  border-radius: 10px;
  width: fit-content;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

form * {
  outline: none;
  border: none;
}

.title_add_task {
  font-family: clash-display-medium;
  font-size: var(--text_4);
  color: var(--brown);
  margin-bottom: 20px;
  text-align: center;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: var(--text_5);
  text-decoration: none;
  font-weight: bolder;
  color: var(--brown);
  cursor: pointer;
}

h3 {
  font-family: satoshi-medium;
  font-size: var(--text_3);
  color: var(--brown);
}

.textField,
#category_id,
#priority_id,
#edit_category_id,
#edit_priority_id {
  display: block;
  border: 2px solid var(--brown);
  height: 50px;
  width: 380px;
  background-color: var(--background);
  border-radius: 10px;
  padding: 0 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: var(--text_2);
  font-family: satoshi-regular;
}

.button_add_task {
  font-family: clash-display-medium;
  font-size: var(--text_3);
  color: var(--background);
  border: 2px solid var(--background);
  border-radius: 10px;
  width: 403px;
  height: 50px;
  padding: 0 10px;
  background-color: var(--brown);
  margin-top: 20px;
  cursor: pointer;
}

/* Update Task */
.overlayUpdate {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--background);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.wrapper_update_task {
  border: 2px solid var(--brown);
  padding: 20px;
  border-radius: 10px;
  width: fit-content;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.title_update_task {
  font-family: clash-display-medium;
  font-size: var(--text_4);
  color: var(--brown);
  margin-bottom: 20px;
  text-align: center;
}

.button_update_task {
  font-family: clash-display-medium;
  font-size: var(--text_3);
  color: var(--background);
  border: 2px solid var(--background);
  border-radius: 10px;
  width: 403px;
  height: 50px;
  padding: 0 10px;
  background-color: var(--brown);
  margin-top: 20px;
  cursor: pointer;
}
