* {
  margin: 0;
  padding: 0;
}

:root {
  /* Set color*/
  --brown: #423838;
  --background: #e0e0c5;

  /* Set size*/
  --text_1: 12px;
  --text_2: 16px;
  --text_3: 20px;
  --text_4: 24px;
  --text_5: 28px;
  --text_6: 32px;
  --text_7: 36px;
  --text_8: 40px;
  --text_9: 44px;
  --text_10: 48px;
}

@font-face {
  font-family: satoshi-regular;
  src: url(../fonts/satoshi/Satoshi-Regular.otf);
}

@font-face {
  font-family: satoshi-medium;
  src: url(../fonts/satoshi/Satoshi-Medium.otf);
}

@font-face {
  font-family: satoshi-bold;
  src: url(../fonts/satoshi/Satoshi-Bold.otf);
}

@font-face {
  font-family: clash-display-medium;
  src: url(../fonts/clash-display/ClashDisplay-Medium.otf);
}

body {
  background-color: var(--background);
  margin: 20px;
}

.container_login {
  border: 2px solid var(--brown);
  padding: 20px;
  border-radius: 10px;
  width: fit-content;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

form * {
  outline: none;
  border: none;
}

.title_login {
  font-family: clash-display-medium;
  font-size: var(--text_4);
  color: var(--brown);
  margin-bottom: 20px;
  text-align: center;
}

.email,
.password {
  font-family: satoshi-medium;
  font-size: var(--text_3);
  color: var(--brown);
}

.input {
  /* display: block; */
  border: 2px solid var(--brown);
  height: 50px;
  width: 380px;
  background-color: var(--background);
  border-radius: 10px;
  padding: 0 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: var(--text_2);
  font-family: satoshi-regular;
}

.button_login {
  font-family: clash-display-medium;
  font-size: var(--text_3);
  color: var(--brown);
  border: 2px solid var(--brown);
  border-radius: 10px;
  width: 403px;
  height: 50px;
  padding: 0 10px;
  background-color: var(--background);
  margin-top: 20px;
}
